﻿<html lang="es">
<head>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="icon" href="/wwwroot/image/cfpsalud.ico">
    <title>Bienvenido al Centro de Salud Mental</title>
</head>
<body>
    <header>
        <h1><strong>Bienvenido al Centro de Salud Mental CFP</strong></h1>
        <p>"Tu bienestar emocional es nuestra prioridad"</p>
    </header>
    
    <h2><strong>Galería de Imágenes</strong></h2>

<section>
    <div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div style="width: 33.33%;">
    <img src="https://media.discordapp.net/attachments/1169762805902221397/1169841202351312946/consultorio-psicologo.jpg?ex=6556de85&is=65446985&hm=928b137ace6742caa0f6a0d9723555185ddf493e15aa4c1fe7e6f7f65b59df43&=&width=704&height=469" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p><strong>Consultorio de Terapia</strong></p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <img src="https://media.discordapp.net/attachments/1169762805902221397/1169841870948548638/equipo.jpg?ex=6556df24&is=65446a24&hm=b1ab0beb36608f1fb31e66b62d5d0e8007aedd10486297131ef5ad29f350262e&=&width=704&height=469" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p><strong>Nuestros Equipos Profesionales</strong></p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <img src="https://media.discordapp.net/attachments/1169762805902221397/1169843160160161822/terapia-grupo.jpg?ex=6556e058&is=65446b58&hm=f1702eca77920dadba4af26040549672b70633b3fb9de5981af9dcc8ed0fcb80&=&width=563&height=375" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p><strong>Terapia en Grupo</strong></p>
    </div>
  </div>
</div>
</section>

</body>
</html>

<style>

    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}



section {
    padding: 2rem;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

/* Estilos para las imágenes */
.imagen {
    margin: 20px;
    text-align: center;
}

.imagen img {
    max-width: 100%;
}

/* Estilos para el footer */
footer {
    background-color: #fff;
    color: #fff;
    text-align: center;
   
}
</style>