@{
    ViewData["Title"] = "Nosotros";
}
<h2>¿Quiénes somos?</h2>

<section>
<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div style="width: 33.33%;">
    <img src="https://media.discordapp.net/attachments/1169762805902221397/1169812659210817556/CFP_IMAGE.png?ex=6556c3f0&is=65444ef0&hm=e340eb185c5cf06496bf4f41d16dd8b9b641f55878b79cdd7327c53dd38d4dbf&=&width=475&height=476" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p><strong>Nuestra compañía:</strong></p>
        <p>Somos un Centro de Salud dedicado a proporcionar apoyo y tratamiento profesional para mejorar la salud mental de nuestros pacientes. Nuestro equipo de psicólogos y terapeutas altamente capacitados está aquí para ayudarte en tu viaje hacia una vida más saludable y equilibrada.
      </p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <img src="https://media.discordapp.net/attachments/1169762805902221397/1169811148997148722/mision_CFP.png?ex=6556c287&is=65444d87&hm=e855ad2beb0f27687a0a95f6dacb0742dd878a0a8cf03060b00f7453192b651b&=&width=475&height=476" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p><strong>Misión:</strong></p>
        <p>Nuestro propósito es convertirnos en la opción preferida por nuestros clientes al brindar el más elevado nivel de atención para su salud mental y la de sus seres queridos. Establecemos nuestra posición como líderes en el ámbito del bienestar emocional y crecimiento personal.
      </p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <img src="https://media.discordapp.net/attachments/1169762805902221397/1169815273805709322/vision1.jpg?ex=6556c65f&is=6544515f&hm=9e73c0dd60c709b90b3d3bfae771f81775dabbc4dcf65d84d1da456ef84e8449&=&width=476&height=475" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p><strong>Visión:</strong></p>
        <p>Forjar un camino donde la salud mental es fortalecida en todas las etapas de desarrollo, mediante servicios de salud mental interdisciplinarios.
      </p>
    </div>
  </div>
</div>
</section>